{
  "extends": [
    "airbnb",
    "airbnb-typescript/base"
  ],
  "parserOptions": { 
    "project" : "./tsconfig.json"
  },
  "rules": {
  "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
  "import/extensions": [1, {
    "extensions": [".ts"]
  }],
  "linebreak-style": 0,
  "@typescript-eslint/ban-ts-comment": "off"
}
}